.cadastro > main{
    margin-bottom: 20vh;
}

.container > div:nth-child(1) h1{
    margin-top: 8.5rem;
    font-weight: normal;
    font-size: 23px;
}

.container {
    margin-bottom: -2vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#nome {
    margin-top: 13px;
    width:300px;
    height: 40px;
}


#email {
    margin-top: 13px;
    width:300px;
    height: 40px;
}

#permissao {
    margin-top: 13px;
    width:300px;
    height: 40px;
}

#senha {
    margin-top: 13px;
    width:300px;
    height: 40px;
}

button {
    width: 160px;
    height: 52px;
    background-color: #F6511D;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 45px;
    position:absolute;
    left: 595px;
}
